<ul id="menu">    
  <li><%= link_to @database.name, database_path(@database.name) %></li>
</ul>  
  
<h1>Collection in <%= @database.name %></h1>
  
<diV>
 <%= pluralize(@documents.count, "document") %>
</div>

<div id="create_collection_form">
  <form action="<%= database_collection_documents_path(@database.name, @collection.name) %>" method="post">    
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= text_area_tag :document, params[:document], :class => "json_editor" %>
    <%= submit_tag "Create", :class => "ui-state-default ui-corner-all" %>
  </form>    
</div>

<ul>  
<% @documents.each do |doc| %>
  <li><<%= doc %></li>
<% end %>
</ul>
