<div id="menu" class="ui-tabs ui-widget ui-widget-content ui-helper-clearfix"> 
  <%= link_to "Databases", databases_path() %> > 
  <%= link_to @database.name, database_path(@database.name) %> >
  <%= @collection.name %>       
</div> 

<div id="actions">   
  <ul>
    <li> 
      <a id="create_document" href="#create_document_form">Create Document</a>   
    </li>
    <li> 
      <a id="edit_design_document" href="#edit_design">Edit Design Document</a>   
    </li>        
</div>   

   
<h1><%= @collection.name %> in <%= @database.name %></h1>
<p>Viewing <%= pluralize(@documents.count, "document") %> of <%= @count %></p>

<table id="collection_documents" class="ui-widget ui-helper-reset">  
  <thead class="ui-widget-header">
  <tr>   
    <% @columns.each do |value| -%>    
      <th><%= value %></th>  
    <% end -%> 
  </tr>    
  </thead>  
  <tbody>
    <% @documents.each do |doc| -%>      
		<tr id="document_<%= doc["_id"] %>">    
      <% @columns.each do |value| -%>    
        <% if value == "_data"%> 
          <td><%= ActiveSupport::JSON.encode(doc) %></td>  
        <% else %>
          <td><%= doc[value] %></td>  
        <% end -%> 
      <% end -%> 
		</tr>      
    <% end -%>    
  </tbody>    
  <tfoot>
  </tfoot>  
</table>

<%= will_paginate(@documents) %>

<div id="design_document" style="display:none;"><%= ActiveSupport::JSON.encode(@design) %></div>
  
<div id="create_document_form" class="hidden">
  <form action="<%= database_collection_documents_path(@database.name, @collection.name) %>" method="post">    
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= text_area_tag :document, params[:document], :class => "json_editor" %>
    <%= submit_tag "Create", :class => "ui-state-default ui-corner-all" %>
  </form>    
</div>

<div id="edit_document_form" class="hidden">
  <form action="" method="post">    
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :_id, "" %>
    <%= text_area_tag :document, params[:document], :id => "edit_document", :class => "json_editor" %>
    <%= submit_tag "Save", :class => "ui-state-default ui-corner-all" %>
  </form>    
</div>


<% content_for :javascript do -%>
  $(".hidden").hide();
  
  $("table:sortable tbody tr:odd").addClass("odd");
        
  $("#create_document").click(function(){  
    $('#create_document_form').dialog("open");
  });
  
  $("#edit_design_document").click(function(){
    design_document = $("#design_document").html();
    $("#_id").val("_design"); 
    $("#edit_document").val(design_document);
    $("#edit_document_form").dialog("open");
  });

  $('#create_document_form').dialog({
    title:"Create Document",
    height:'auto',
    width:'auto',
    modal:true,
    autoOpen:false,
    overlay: {
    backgroundColor: '#000000',
      opacity: 0.5
    },
  });
  
  $('#edit_document_form').dialog({
    title:"Edit Document",
    height:'auto',
    width:'auto',
    modal:true,
    autoOpen:false,
    overlay: {
    backgroundColor: '#000000',
      opacity: 0.5
    },
  });
        
        
<% end -%>