<div id="menu" class="ui-widget ui-widget-content ui-helper-clearfix"> 
  <%= link_to "Databases", databases_path() %> >
  <%= link_to @database.name, database_path(@database.name) %> >
  <%= @collection.name %>       
<div id="actions" class="">   
  Actions: 
  <a id="" href="#create_collection" onclick="$('#create_collection').dialog({height:'auto',width:'auto'})">Create Document</a>   
</div>   

</div> 
   

 
 
<h1><%= @collection.name %> in <%= @database.name %></h1>
<div id="collection">
 Viewing <%= pluralize(@documents.count, "document") %> of <%= @count %>
</div>


<table id="collection_documents" class="ui-widget ui-helper-reset">  
  <thead class="ui-widget-header">
  <tr>   
    <% @columns.each do |value| -%>    
      <th><%= value %></th>  
    <% end -%> 
  </tr>    
  </thead>  
  <tbody>
    <% @documents.each do |doc| -%>      
		<tr id="document_<%= doc["_id"] %>">    
      <% @columns.each do |value| -%>    
        <% if value == "_data"%> 
          <td><%= ActiveSupport::JSON.encode(doc) %></td>  
        <% else %>
          <td><%= doc[value] %></td>  
        <% end -%> 
      <% end -%> 
		</tr>      
    <% end -%>    
  </tbody>    
  <tfoot>
  </tfoot>  
</table>

<%= will_paginate(@documents) %>

<% content_for :javascript do -%>
  $("table:sortable tbody tr:odd").addClass("odd");
<% end -%>

<div id="create_collection" class="ui-helper-hidden-accessible">
  <form action="<%= database_collection_documents_path(@database.name, @collection.name) %>" method="post">    
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= text_area_tag :document, params[:document], :class => "json_editor" %>
    <%= submit_tag "Create", :class => "ui-state-default ui-corner-all" %>
  </form>    
</div>

<!-- -->    