<div id="menu" class="ui-tabs ui-widget ui-widget-content ui-helper-clearfix"> 
  <%= link_to "Databases", databases_path() %> > 
  <%= link_to @database.name, database_path(@database.name) %> >
  <%= @collection.name %>       
</div> 

<div id="actions">   
  <ul>
    <li> 
      <%= link_to "Create Document", new_database_collection_document_path(@database.name, @collection.name), :id => "create_document" %>
    </li>
    <% if @design -%>
    <li> 
      <%= link_to "Edit Design Document", edit_database_collection_document_path(@database.name, @collection.name, @design["_id"]), :id => "edit_design_document" %>            
    </li>  
    <% end -%>
  </ul>          
</div>   
 
<h1><%= @collection.name %> in <%= @database.name %></h1>
<p>Viewing <%= pluralize(@documents.count, "document") %> of <%= @count %></p>

<div id="design_document" style="display:none;"><%= ActiveSupport::JSON.encode(@design) %></div>
  
<div id="create_document_form" class="hidden"> 
</div>

<div id="edit_document_form" class="hidden">  
</div>

<table id="collection_documents" class="ui-widget ui-helper-reset">  
  <thead class="ui-widget-header">
  <tr>   
    <% @columns.each do |value| -%>    
      <th><%= value %></th>  
    <% end -%> 
  </tr>    
  </thead>  
  <tbody>
    <% @documents.each do |doc| -%>      
		<tr id="<%= doc["_id"] %>">    
      <% @columns.each do |value| -%>    
        <% if value == "_data"%> 
          <td><%= ActiveSupport::JSON.encode(doc) %></td>  
        <% else %>
          <td><%= doc[value] %></td>  
        <% end -%> 
      <% end -%> 
		</tr>      
    <% end -%>    
  </tbody>    
  <tfoot>
  </tfoot>  
</table>

<%= will_paginate(@documents) %>


<% content_for :javascript do -%>
  $(".hidden").hide();
  
  $("table:sortable tbody tr:odd").addClass("odd");
      
  $("#collection_documents tr").click(function(){  
    id = $(this).attr("id");  
    url = "/databases/<%= @database.name %>/collections/<%= @collection.name %>/documents/" + id + "/edit"
    console.log(url);
    $('#edit_document_form').dialog("open");
    $("#edit_document_form").load(url);         
    return false;        
  });                    
    
  $("#create_document").click(function(){  
    $('#create_document_form').dialog("open");        
    url = $(this).attr("href");    
    $("#create_document_form").load(url);
    return false;
  });
  
  $("#edit_design_document").click(function(){
    $('#edit_document_form').dialog("open");
    url = $(this).attr("href");
    $("#edit_document_form").load(url);         
    return false;
  });
  

  $('#create_document_form').dialog({
    title:"Create Document",
    height:'auto',
    width:'auto',
    modal:true,
    autoOpen:false,
    overlay: {backgroundColor: '#000000',opacity: 0.5}
  });
    
  
  $('#edit_document_form').dialog({
    title:"Edit Document",
    height:'auto',
    width:'auto',
    modal:true,
    autoOpen:false,

    overlay: {backgroundColor: '#000000',opacity: 0.5}
  });      
  
<% end -%>