<ul id="menu">    
  <li><%= link_to @database.name, database_path(@database.name) %></li>
  <li><%= @collection.name %></li>  
  <li><a href="#create_collection" onclick="$('#create_collection').dialog({height:'auto',width:'auto'})">Create Document</a></li>
</ul>  
  
<h1><%= @collection.name %> in <%= @database.name %></h1>
<div id="collection">
 Viewing <%= pluralize(@documents.count, "document") %> of <%= @count %>
</div>


<table id="collection_documents">  
  <thead>
  <tr>   
    <% @columns.each do |value| -%>    
      <th><%= value %></th>  
    <% end -%> 
  </tr>    
  </thead>  
  <tbody>
    <% @documents.each do |doc| -%>      
		<tr id="document_<%= doc["_id"] %>">    
      <% @columns.each do |value| -%>    
        <% if value == "_data"%> 
          <td><%= ActiveSupport::JSON.encode(doc) %></td>  
        <% else %>
          <td><%= doc[value] %></td>  
        <% end -%> 
      <% end -%> 
		</tr>      
    <% end -%>    
  </tbody>    
  <tfoot>
  </tfoot>  
</table>

<%= will_paginate(@documents) %>


<div id="create_collection" style="display:none;">
  <form action="<%= database_collection_documents_path(@database.name, @collection.name) %>" method="post">    
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= text_area_tag :document, params[:document], :class => "json_editor" %>
    <%= submit_tag "Create", :class => "ui-state-default ui-corner-all" %>
  </form>    
</div>

<!-- -->    