<div id="menu" class="ui-tabs ui-widget ui-widget-content ui-helper-clearfix"> 
  <%= link_to "Databases", databases_path() %> >
  <%= @database.name %> 
</div> 

<div id="actions">   
  <ul>
    <li><%= link_to "Create Collection", new_database_collection_path(@database.name), :id => "create_collection" %></li>
    <li> 
      <a id="edit_design_document" href="#edit_design">Edit Design Document</a>   
    </li>        
  </ul>    
</div>   


<h1><%= @database.name%></h1>
<ul>  
<% @collections.each do |name| %>
  <li><%= link_to name, database_collection_path(@database.name, name) %></li>
<% end %>
</ul>